$green: #4caf50;
$red: #f44336;
$white: #fff;

.IconButton {
  margin: 0;
  padding: 0px;
  border: none;
  border-radius: 50%;
  color: $white;
  font: inherit;
  background-color: $red;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms ease;

  &:hover {
    background-color: rgb(153, 2, 2);
  }

  &__close {
    background-color: $red;
  }
  &:focus {
    outline-style: ridge;
  }
}
